.contactForm {
  display: flex;
  flex-flow: wrap;
}

.contactLabel {
  font-weight: bold;
}

.contactInput {
  width: 327px;
  margin-right: 20px;
  padding: 10px;
}

.buttonAdd {
  padding: 10px 50px;
  background-color: blue;
}
.btnContainer {
  margin-top: 30px;
  margin-left: 395px;
}
